<tr class="<%= cycle("bg-white", "bg-gray-50") %>">
  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
    <%= authorized_user.user.name %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
    <% if authorized_user.owner? %>
      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800">
        Owner
      </span>
    <% end %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
    <%= link_to "Remove User", group_user_url(authorized_user.group, authorized_user), method: :delete, data: { confirm: "Do you wish to remove #{authorized_user.user.name}?"}, class: "text-red-600 hover:text-red-900" %>
  </td>
</tr>
