<% content_for :title, 'Support Deschtimes' %>

<div class="relative py-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto mb-6">
      <p class="text-base text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Donations</p>
      <h1 class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">Support Deschtimes!</h1>
      <p class="text-xl text-gray-500 leading-8">I pay for Deschtimes and Aquarius out of pocket - as more users and groups sign up, my costs increase. If you can afford it, I would love donations to help assist me in paying these costs.</p>
    </div>
    <div class="prose prose-lg text-gray-500 mx-auto">
      <p>The best and easiest way of supporting me is to <a href="https://github.com/sponsors/IanMitchell">Sponsor me on GitHub</a>. GitHub sponsors get top consideration for new features and assistance - I don't plan on adding premium tiers to Deschtimes, but if you have a specific feature request and are a sponsor I'll absolutely prioritize it.</p>
      <h2>Current Costs</h2>
      <p>My current monthly income from GitHub sponsors is displayed on my profile. In the interest of transparency, here are my monthly costs.</p>
      <p><em>Last updated 12/29/2020</em></p>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Monthly Cost</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Domains</td>
            <td>$3 <em>($36/yr)</em></td>
          </tr>
          <tr>
            <td>Heroku Hosting</td>
            <td>$8</td>
          </tr>
          <tr>
            <td>Managed Database</td>
            <td>$15</td>
          </tr>
          <tr>
            <td>File Storage</td>
            <td>$5</td>
          </tr>
          <tr>
            <td>Aquarius Hosting</td>
            <td>$10</td>
          </tr>
          <tr>
            <td>GitHub Pro Account</td>
            <td>$4</td>
        </tbody>
        <tfoot class="text-gray-700 border-t border-gray-300">
          <tr class="pt-2">
            <td>Total</td>
            <td class="pl-3">$45/mo</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
