<% content_for :title, 'Documentation' %>

<div class="py-8 px-4 sm:px-6 lg:px-8">
  <div class="text-lg max-w-prose mx-auto mb-6">
    <p class="text-base text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Documentation</p>
    <h1 class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">Deschtime Documentation Articles</h1>
  </div>
  <div class="mt-6 border-t-2 border-gray-200 pt-6">
    <dl>
      <div class="md:grid md:grid-cols-12 md:gap-8">
        <dt class="text-base leading-6 font-medium md:col-span-5">
          <%= link_to "Discord Bots", documentation_discord_url, class: "text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base leading-6 text-gray-500">
            Information on how to add and configure a Discord bot to allow members to check project progress and status.
          </p>
        </dd>
      </div>
      <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
        <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
          <%= link_to "Deschtimes API", documentation_api_url, class: "text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base leading-6 text-gray-500">
            Information on how to interact with the Deschtimes API, including how to add a widget to Wordpress to display current progress.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>
