<div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
  <% page_actions.each do |action| %>
    <span class="shadow-sm rounded-md ml-2">
      <a href="<%= action[:url] %>" class="inline-flex items-center px-4 py-2 border text-sm leading-5 font-medium rounded-md focus:outline-none transition duration-150 ease-in-out <%= action[:highlight] ? "border-transparent text-white bg-indigo-600 hover:bg-indigo-500 focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700" : "border-gray-300 text-gray-700 bg-white hover:text-gray-500 focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50" %>">
        <%= action[:name] %>
      </a>
    </span>
  <% end %>
</div>
